obj
out
build

*.map
*.lst
*.obj
*.o
*.exe
*.dll
*.pdb
*.lnk

*.sce
*.ddb
*.10x
.vscode/*
!.vscode/amiga.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
*.rdbg

web-games/*
src-z80
